#dan_info
  -if (route == 'homepage') { // 동기화
    span#dancode
      |[
      =dancode
      |]
  -} else if (route == "icon") { // 아이콘
    input#dancode(type="text" value=dancode)
    input#prev_dancode(type="hidden" value=dancode)
  -} else  {
    span#title
      | 동서씨앤아이 CHAT BOT
  -}
  -if (login)
    span#danname
      =server
    span#buttons
      -if (route == "icon") {
        button#logout.header_button
          |로그아웃
      -}
        button#information_button.header_button
          |정보보기
#user_info
  div(style="display:flex;")
    -if (login) {
      |사용자: 
      span#userId
        =username
    -}
  div
    -if (login) {
      | 세션 만료: 
      input#session_time(type="text" value=sessionTime)
      input#prev_session_time(type="hidden" value=sessionTime)
      | 분
    -} else {
      | 서버 동작 중: 
      span#login_time
        -var time = new Date();
        = time.getHours() < 10 ? '0'+time.getHours() : time.getHours()
        |:
        = time.getMinutes() < 10 ? '0'+time.getMinutes() : time.getMinutes()
        |:
        = time.getSeconds() < 10 ? '0'+time.getSeconds() : time.getSeconds()
    -}
