doctype html
html
  head
    style
      include ../../css/chat.css
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type='text/javascript').
    -if (login)
      include chat_function.pug
      include chat_event.pug
  body
    #chat
      #chat_header
        include chat_header.pug
      #chat_body
        include chat_body.pug
        #information
          #inforamtion_body
      #chat_submit
        include chat_submit.pug
