#login_form
  form(method="post" action="/login/icon")
    label
      | ID:
      input#id(type="text" name="id")
    br
    label
      | PW:
      input#password(type="password" name="password")
    br
    label
      | SERVER:
      input#server(type="text" name="server")
    br
    label
      input(type="submit" value="로그인")
