#login_form
  form(method="post" action="/login/homepage")
    label
      | Session:
      input#ssotoken(type="text" name="ssotoken" value="a2ZyS1F3MGszMm9LZEU5UUVwRG9QR0F1enpkd1ExK1Y1bUI3UUxWaDhJVkdOb2UrNzZNbzJnbm9ocFA2QUJNbDBGdDVrcjlzditWbjF0SjZDZENKQXc9PQ==")
      input(type="submit" value="로그인")
