#login_form
  form(method="post" action="/login/homepage")
    label
      | ID:
      input#id(type="text" name="id")
    br
    label
      | PW:
      input#password(type="password" name="password")
    br
    label
      | DANCODE:
      input#dancode(type="text" name="dancode")
    br
    label
      | SERVICE:
      -if (Service) {
        select#service(name="service")
          -for (let i in Service) {
              option(value=Service[i].name)
                =Service[i].name
          -}
      -} else {
        input#service(type="text" name="service")
      -}
    br
    label
      input(type="submit" value="로그인")
