doctype html
html
  head
    style
      include ./../../css/adm.css
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type='text/javascript').
      function openReport() {
        window.open(encodeURI("view?rptfile=test2.mrd"), "cxview", "width=840, heifht=650");
      }
      $(document).ready(function() {
        document.getElementById("hdnPrintData").value = "홍길동!@#18!@#남!@#독서!@#순간이동\n손오공!@#20!@#남!@#변신!@#장난";
        //- console.log(window.parent.tableList)
        //- console.log(window.parent.tables)
        //- console.log(window.parent.reg)
        var type = !{JSON.stringify(type)}
        $("#" + type).addClass("active")
        $("#selectAll").click(function () {
          $(".select").prop("checked", $(this).prop("checked"))
        })
      })
  body
    #adm_page
      #adm_main_page
        include adm_title.pug
      include adm_content.pug
