script(type='text/javascript').
  $(document).ready(function() {
    var type = !{JSON.stringify(type)}
    $("#" + type).addClass("active")
  })
a#api(href="/adm/api") API Table
a#parameter(href="/adm/parameter") Parameter list
a#regexp(href="/adm/regexp") Regular Expression list
a#recommend(href="/adm/recommend") Recommend
a#response(href="/adm/response") Response
a#_log(href="/adm/_log") Log
input#popup(type="button" value="execute" onclick="openReport();")
input#hdnPrintData(type="hidden")
#extra
