doctype html
html
  head
    style
      include ../css/adm.css
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type='text/javascript').
      function openReport() {
        window.open("view?rpdfile=test2.mrd", "cxview", "width=840, heifht=650");
      }
      $(document).ready(function() {
        document.getElementById("hdnPrintData").value = "홍길동!@#18!@#남!@#독서!@#순간이동\n손오공!@#20!@#남!@#변신!@#장난";
        
        //- console.log(window.parent.tableList)
        //- console.log(window.parent.tables)
        //- console.log(window.parent.reg)
        var type = !{JSON.stringify(type)}
        switch (type) {
          case 'tables':
            $("#tables").addClass("active")
            break
          case 'regexps':
            $("#regexps").addClass("active")
            break
          case 'columns':
            $("#tables").addClass("active")
            break
          case 'logs':
            $("#logs").addClass("active")
            break
          case 'recommend':
            $("#recommend").addClass("active")
            break
          case 'response':
            $("#response").addClass("active")
            break
        }
        $("#selectAll").click(function () {
          $(".select").prop("checked", $(this).prop("checked"))
        })
      })
  body
    #adm_page
      #adm_main_page
        a#tables(href="/adm/tables") Parameter Table list
        a#regexps(href="/adm/regexps") Regular Expression list
        a#logs(href="/adm/logs") Logs
        a#recommend(href="/adm/recommend") Recommend
        a#response(href="/adm/response") Response
        a#chatbot(href="/chat") ChatBot
        input#popup(type="button" value="execute" onclick="openReport();")
        input#hdnPrintData(type="hidden")
        #extra
      case type
        when 'tables'
          include adm_tables.pug
        when 'regexps'
          include adm_regexps.pug
        when 'columns'
          include adm_columns.pug
        when 'logs'
          include adm_log.pug
        when 'recommend'
          include adm_recommend.pug
        when 'response'
          include adm_response.pug
