#adm_sub_page
  form#createTable(method="post", action="/adm/createTable")
    #variables
      label
        | tableKey:
        input(type="text" name="tableKey")
      br
      label
        | tableName:
        input(type="text" name="tableName")
      br
      label
        input(type="submit" value="등록")
  table(border="1")
    thead
      tr
        th
          input#selectAll(type="checkbox")
        th tableKey
        th tableName
        th
    tbody
      -for(let i = 0 ; i < tables.length ; i++) {
        tr
          td
            input.select(type="checkbox" value=tables[i].tableName)
          td
            =tables[i].tableKey
          td
            a(href="/adm/"+tables[i].tableName+"/columns")
              =tables[i].tableName
          td.buttonList
            button.edit 수정
            form(method="post" action="/adm/deleteTable")
              button.delete(name="tableName" value=tables[i].tableName) 삭제
      -}
  
