#adm_sub_page
  table(border="1")
    thead
      tr
        th
          input#selectAll(type="checkbox")
        th _time
        th dancode
        th id
        th query
    tbody
      -for(let i = 0 ; i < logs.length ; i++) {
        tr(value=i)
          td
            input.select(type="checkbox" value=logs[i].idx)
          td._time
            =logs[i]._time
          td.dancode
            =logs[i].dancode
          td.id
            =logs[i].id
          td.query
            =logs[i].query
      -}
