doctype html
html
  head
    style
      include ../css/chat.css
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type="text/javascript" src="./api/chat.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    -if (login)
      script(type="text/javascript").
        $(document).ready(function() {
          /* 챗봇 시작 */
          $("#chat_data").text('안녕, 챗봇~!')
          parsing_ajax("HOME")

          /* 소켓 */
          let information = !{JSON.stringify(information)}
          var socket = io()
          //- console.log(socket)
          socket.emit("login", {
            information : information
          })
          socket.on("login2", function(data) {
            console.log(data)
          })
          socket.on("/change/dancode", function(data) {
            $("#dancode").text("["+data.dancode+"]");

          })
          socket.on("logout",function(data) {
            if(data) {
              console.log("logout");
              location.href = '/logout'
            }
          })

          /* 정보보기 버튼 */
          let information_flag = false
          $("#inforamtion_body").css('display', 'none')
          $("#information_button").click(function(e) {
            information_flag = !information_flag
            if (information_flag) {
              $("#information_button").css("background-color", "blue")
              $("#information_button").text("정보끄기")
              $("#inforamtion_body").css('display', 'block')
            }
            else {
              $("#information_button").css("background-color", "#399aff")
              $("#information_button").text("정보보기")
              $("#inforamtion_body").css('display', 'none')
            }
          })
          
          /* 로그아웃 버튼 */
          $("#logout").click(function(e) {
              let xhr = new XMLHttpRequest()
              xhr.open('GET', '/logout', true)
              xhr.setRequestHeader('Content-Type', 'application/json')
              xhr.send()            
              xhr.addEventListener('load', function() {
                alert('로그아웃 되었습니다.');
                location.href='/'
              })
          })
        })
        var username = !{JSON.stringify(username)}

  body
    //- iframe(src="/adm" style="width:800px; height:100%;")
    #information
      include information.pug
    #chat
      #chat_header
        include chat_header.pug
      #chat_body
        include chat_body.pug
      #chat_submit
        include chat_submit.pug
