doctype html
html
  head
    style
      include ../css/chat.css
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type="text/javascript" src="./api/common_method.js")
    script(type="text/javascript" src="./api/chat.js")
    -if(login)
      script(type="text/javascript").
        var Api = !{JSON.stringify(Api)};
        var Parameter = !{JSON.stringify(Parameter)}
        var Regexpr = !{JSON.stringify(Regexpr)}
        var username = !{JSON.stringify(username)}

  body
    //- iframe(src="/adm" style="width:800px; height:100%;")
    #chat
      #chat_header
        include chat_header.pug
      #chat_body
        include chat_body.pug
      #chat_submit
        include chat_submit.pug
  
