doctype html
html
  head
    script(type="text/javascript").
      var ret_list_unpaid = !{JSON.stringify(list.list_unpaid)};
      var ret_list_inspect = !{JSON.stringify(list.list_inspect)};
    //- script(type="text/javascript" src="/inspect/inspect_method.js")
    //- script(type="text/javascript" src="/inspect/inspect.js")
    //- script(type="text/javascript" src="/unpaid/unpaid_method.js")
    //- script(type="text/javascript" src="/unpaid/unpaid.js")
    script(type="text/javascript" src="common_method.js")
    script(type="http://code.jquery.com/jquery-1.10.2.js")
    meta(charset='utf-8')
  body
    textarea(type="textarea" id="query" style="width:500px; height:100px") 조견표 전기2 상가 사용금액 301동 301kw 3자녀 100부터 250까지 세대수3 소수점 자동이체할인 2000년 3월 공제사용안함 저압 전기료감면 B
    p
      input(type="button" id='button' name="" value="실행")
    p(id="description" style="width:1000px; height:100px")
    
  script(type="text/javascript").

    // case 0
    // case 1
    //var s = '세대별 2001년 4월 전기 301동부터 402동까지 본사 일수 단축형 정방향 세대별 수직입력 단축형';
    // case 1
    //  var s = '시점별 301-402 3개월~4개월 2001-04~2001-7 303동~403동 전기 본사 일수 단축형 정방향 세대별 수직입력 단축형';
    var id = document.getElementById('query');
    var inp = document.getElementById('button');
    var des = document.getElementById('description');
    inp.addEventListener('click', function(event) {
      des.innerHTML = id.value;
      var ret = init(id.value);
      
      //- var get = 'GET METHOD CALL';
      //- 
      //- //Ajax GET Method TEST
      //- $.ajax({
      //-       url: '/api/get',
      //-       dataType: 'json',
      //-       type: 'GET',
      //-       data: {data:get},
      //-       success: function(result) {
      //-           if (result) {
      //-             $('#get_output').html(result.result);
      //-           }
      //-      }
      //-   });
      for (var i in ret)
        if (ret[i])
          des.innerHTML = des.innerHTML + '<p>' + i + '->' + ret[i] + '</p>';
    });
    inp.click();
