* {box-sizing: border-box;position:relative;}
html, body {width:100%;height:100%;margin:0;padding:0;}
body {display:flex; justify-content:center;background-color: #e5e5e7;}
a {text-decoration: none;}
a:focus,
a:link,
a:visited {color:black;}

#adm_page {width:850px;min-width:850px;padding: 15px;background-color: white;display:block;}
#adm_page #adm_main_page {border:1px solid black;position:relative;height:42px;display:flex;}
#adm_page #adm_main_page a {width:auto; padding:10px; background-color: gray; border-right: 1px solid black;display: inline-block;}
#adm_page #adm_main_page a.active {background-color: white;border-bottom: white;height:calc(100% + 1px)}
#adm_page #adm_main_page #extra {width:auto; height:100%; border-bottom: 1px solid black;display:inline-block;}

#adm_page #adm_sub_page {overflow: scroll;}

#adm_page #adm_sub_page {padding:10px; border-left: 1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;height: calc(100% - 42px);}
#adm_page #adm_sub_page form {border:1px solid black;}
#adm_page #adm_sub_page form input {margin-bottom:3px;}
#adm_page #adm_sub_page #createTable,
#adm_page #adm_sub_page #addRows {padding:10px;}
#adm_page #adm_sub_page table {width:100%;}
#adm_page #adm_sub_page table tbody td:first-child {text-align: center;}

#adm_page #adm_sub_page table tbody td.buttonList {text-align: center;}

#adm_page #adm_sub_page #addRegexp {display:flex;}
#adm_page #adm_sub_page #addRegexp #variables {display:inline-block;width:62.5%; padding:10px;}
#adm_page #adm_sub_page #addRegexp #testing {display:inline-block;width:37.5%; padding:10px;}
#adm_page #adm_sub_page #addRegexp #testing #text_field {width:100%;height:calc(100% - 50px);}
#adm_page #adm_sub_page #addRegexp #testing textarea {width:100%;height:100%;resize:none;}
#adm_page #adm_sub_page #addRegexp #testing #result_field {width:100%; height:50px; border:1px solid black;display:flex; align-items: center;}
#adm_page #adm_sub_page .buttonList form {display:inline-flex;border:none;}

#adm_page #adm_sub_page .selected {background-color: yellow;}
